<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.basic.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.basic.bean.User" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="pasword" property="pasword" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getUserById" resultMap="BaseResultMap">
    select id,username,password from users where id = #{id}
  </select>
  
  <select id="getUserByName" resultMap="BaseResultMap" parameterType="com.basic.bean.User" >
    select id,username,password from users where username = #{user.username}
  </select>
</mapper>